.app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin-top: 5rem;
}
h1 {
  color: #fff;
  text-transform: uppercase;
}
.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.countdown .box {
  text-align: center;
  margin-left: 4rem;
}

.countdown h2 {
  font-size: 5rem;
  margin-bottom: 0;
}
